/* styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
   font-family: "Monument Extended Ultralight";
    src: url("https://db.onlinewebfonts.com/t/9b310b2d91dfaf3b73ac6ea66c8351b2.eot");
    src: url("https://db.onlinewebfonts.com/t/9b310b2d91dfaf3b73ac6ea66c8351b2.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/9b310b2d91dfaf3b73ac6ea66c8351b2.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/9b310b2d91dfaf3b73ac6ea66c8351b2.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/9b310b2d91dfaf3b73ac6ea66c8351b2.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/9b310b2d91dfaf3b73ac6ea66c8351b2.svg#Monument Extended Ultralight")format("svg");
}

.custom-font {
  font-family: "Monument Extended Ultralight";
}
